/*

CSS Credit: http://www.templatemo.com/

*/

.header_body {

	margin: 0;

	padding:0;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 1.5em;

	color: #333333;

	width: 100%;

	display: table;

}

a { color: #000;}
a:hover { color: #333; }

#background_section_top {

	width: 100%;
	height: 158px;
	background: url(images/templatemo_background_section_top_bg.jpg) repeat-x;

}

.container {
	width: 1100px;
	margin: auto;
}


#background_section_mid {
	background: #fff;


}
/* Logo Area */
#logo_section {


	height: 55px;
	margin: 25px 0 0 0;
	padding: 20px 0 0 25px;
	float:left;

}


#logo_section h1 {

	font-size: 35px;
	color: #993300;
	margin: 0;
	padding: 0;
	font-weight: normal;

}

#logo_section h2{

	font-size:16px;
	color: #993300;
	font-weight: normal;
	margin: 0;
	padding-top:10px;

}
/* End Of Logo Area*/
/* Menu Section */

 #menu_section{

	float: left;
	margin: 21px 0 0 0;
	padding: 0;

}

#menu_section ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu_section ul li{
	display: inline;
}

#menu_section ul li a{
	float: left;
	width: 110px;
	padding-top: 8px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#menu_section ul li a span.left{

	display: block;
	height: 26px;

}

#menu_section li a:hover, #menu_section li .current{
	height: 26px;
	background: url(images/templatemo_menu_current_bg_right.jpg) right no-repeat;
}


#menu_section li .current  span.left, #menu_section li a:hover span.left {

	background: url(images/templatemo_menu_current_bg_left.jpg) left no-repeat;
	height: 26px;
	padding-top: 8px;
	margin-top: -8px;



}
/* End Of Menu */
